<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="ISO-8859-1">
		<title>chainsLog</title>
	</head>
	<body>
		<div th:replace="fragments.html :: navbar"></div>
		<div th:if="${param.error}">Error in Profile</div>
		<div th:each="post: ${post}">
			<h2 th:text="${post.title}">Post Title</h2>
			<p th:text="${post.content}"> Content </p>
			<p> <a th:href="@{'/post/'+${post.post_id}+'/delete?profile'}"> Delete </a> <p>
			<p> <a th:href="@{'/post/'+${post.post_id}+'/update?profile'}"> Update </a> <p>
			<p> <a th:href="@{'/post/'+${post.post_id}}"> Join </a> <p>
						
		</div>
	</body>
</html>