<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="ISO-8859-1">
		<title>chainsLog</title>
	</head>
	<body>
		<div th:replace="fragments.html :: navbar"></div>
		<h1>Update a Post</h1>
	
		<form th:action="@{'/post/' + ${PID} + '/update?' + ${params}}" method="post">
			<label for="title">Title: </label> 
				<input type="text" id="title" name="title" required placeholder="Discussion Title" th:value="${post.title}"> <br> 
			<label for="content"> Content: </label> 
				<textarea id="content" name="content" 
				rows="4" cols="50" required placeholder="Hey, type anything you want to share on chainsLog . . . " 
				th:text="${post.content}"></textarea> <br>
			<button class="heading-3" type="submit" th:formaction="@{'/post/' + ${PID} + '/backupdate?' + ${params}}">Back</button>
			<button class="heading-3" type="submit">Submit</button>
		</form>
	</body>
</html>