/* Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  color: var(--global-foreground-color);
  background-color: var(--global-background-color);
  background-image: url("../img/bg-stars.png");
  height: 3.75rem;
  border-bottom: 0.5px solid var(--global-box-border-color);
  padding: 0% 10% 0% 10%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-bar-left {
  display: flex;
  width: 160px;
  justify-content: left;
  align-items: center;
  margin-right: 1rem;
}

.nav-bar-left img {
  height: 3rem;
  cursor: pointer;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex: 3;
  gap: 0.1rem;
  flex-shrink: 0;
}

.nav-bar-search {
  display: flex;
  justify-content: right;
  flex: 2;
  width: 0;
}

.nav-bar-button {
  display: flex;
  justify-content: right;
  flex: 1;
}

/* Hero Page */

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 3rem 0 0.5rem 10%;
  height: 80vh;
}

.hero .nav-bar {
  flex: 1;
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  align-items: center;
  padding: 0% 0%;
}

.index-catchphrase {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25rem;
}

.index-catchphrase button {
  height: 2.5rem;
  width: 7.5rem;
  font-size: medium;
}

#banner-catchphrase {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 5rem;
  line-height: 5.625rem;
  margin: 0 0 1rem 0;
}

#banner-catchphrase-subtext {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6875rem;
  line-height: 2.109375rem;
  margin: 0 0 3rem 0;
}

.index-cover {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: right;
  flex-shrink: 0;
}

.index-cover img {
  width: 100%;
}

/* General Division*/

.main-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 10%;
  flex: 6;
}

.right-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--global-box-border-color);
  margin: 1.5rem 10% 1rem 1rem;
  background-color: var(--global-background-color-post);
  flex: 3;
}

/* Forum Page */

.create-post {
  margin: 0.5rem 0rem 2rem;
  border: 1px solid var(--global-box-border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 1rem 1.5rem 1rem 1rem;
  transition: border 0.15s;
}

.create-post a {
  flex: 1;
  padding: 1rem 1rem;
  border: 1px solid var(--global-box-border-color);
  cursor: text;
  transition: border 0.15s;
}

.create-post a:hover {
  border: 1px solid var(--global-foreground-color);
}

.create-post .post-input span {
  opacity: 0.8;
}

/* Post Components */

.create-post a,
.post a {
  text-decoration: none;
  color: var(--global-foreground-color);
}

.post {
  display: flex;
  flex-direction: column;
  background-color: var(--global-background-color-post);
  border-radius: 4px;
  border: 0.5px solid var(--global-box-border-color);
  margin: 0.5rem 0 1.5rem 0;
  cursor: pointer;
  transition: border 0.15s;
}

.post:hover {
  border: 1px solid var(--global-foreground-color);
}

.post:hover .post-header {
  border-bottom: 2px solid var(--global-foreground-color);
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 2px solid var(--global-box-border-color);
  transition: border 0.15s;
}

.post-avatar {
  display: flex;
  align-items: top;
  padding: 0rem 1rem 0rem 0rem;
}

.post-avatar img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--global-background-color-post);
}

.post-title {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.post-title h2 {
  margin: 0;
}

.post-title span {
  opacity: 0.75;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: justify;
  flex: 6;
  padding: 0.25rem 1.5rem 0.25rem 5rem;
  white-space: pre-line;
}

.post-comment-count {
  display: flex;
  flex-direction: row;
  align-items: top;
  flex: 1;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-top: 0.25rem;
}

.post-comment-count img {
  height: 1rem;
  width: 1rem;
}

/* Trends Components */

.trend-container-header {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--global-box-border-color);
  border-radius: 4px;
}

.trend-container-header h2 {
  margin: 0;
}

.trend {
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--global-box-border-color);
}

.trend-topic {
  flex: 1.5;
  /* min-width: 0; */
}

.trend-topic h3 {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  margin: 0rem 0rem 0.2rem 0rem;
}

.trend-topic span {
  opacity: 0.6;
}

.trend-action {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  align-items: top;
  white-space: nowrap;
}

.trend-action button {
  width: 2.875rem;
  height: 1.475rem;
  margin-top: 0.2rem;
}

/* New Post */

.form-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid var(--global-box-border-color);
  border-radius: 4px;
  background-color: var(--global-background-color-post);
  margin: 0.5rem 0rem;
}

.form {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.form form {
  width: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields input,
.form-fields textarea {
  border: 1px solid var(--global-box-border-color);
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

/* Profile Page*/

.profile-div .left-container {
  margin: 1rem 10% 1rem 10%;
}

.comment-container .post-buttons,
.profile-div .post-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  flex: 1;
  gap: 0.3rem;
  /* padding: 0.5rem 1rem; */
}

/* Post Page */

.comment-container .post {
  margin-bottom: -0.7rem;
}

.comment-container .post-content {
  margin-left: -3.5rem;
}

.comment .post-header {
  display: flex;
  flex-direction: row;
  align-items: top;
  border: 0px;
  padding-bottom: 1rem;
}

.comment .post-buttons button {
  height: 1.5rem;
  width: 4rem;
}

.comment .post-content {
  margin-left: 0rem;
}

.comment .post-content p {
  margin: -1.4rem 0rem 1rem 0rem;
}

.comment-area textarea {
  height: 5rem;
  margin-left: 1.5rem;
}

.comment-area .form-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment-container h3 {
  margin-left: 1.5rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

.comment-container .post:hover {
  border: 0.5px solid var(--global-box-border-color);
}
.comment-container .post {
  cursor: initial;
}

.comment-container .post:hover .post-header {
  border-bottom: 2px solid var(--global-box-border-color);
}
/* .main-div .comment-container {
  background-color: var(--global-background-color-post);
} */

.comment-container .comment:hover .post-header {
  border: 0px;
}

.comment-container .comment {
  margin-left: 1.5rem;
}

.hr {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1.5px solid var(--global-box-border-color);
}

.hr h2 {
  margin: -0.5rem 0rem 0rem 0rem;
}

/* Signin Page */

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid var(--global-box-border-color); */
}

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 50%;
  background-color: var(--global-background-color-post);
  padding: 2rem;
  /* border: 1px solid var(--global-box-border-color); */
}

.vertical-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-logo img {
  cursor: pointer;
}

.signin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0rem 2rem;
}

.signin-header h1 {
  margin-bottom: 0.2rem;
}

.signin-form {
  margin-bottom: 1rem;
}

.signin-form h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.signin-form p {
  text-align: left;
  margin: 0rem;
  color: var(--global-error-hover-color);
}

.signin-form .form-fields {
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.signin-form .form-additional-params {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.signin-container button {
  margin-bottom: -0.4rem;
  width: 100%;
}

.signin-container span.redirect {
  text-align: center;
}

/* Signup Page */
.signup {
  height: 70%;
  /* border: 1px solid var(--global-box-border-color); */
}

.signup .form-fields {
  margin-bottom: 1.5rem;
}
