<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="ISO-8859-1">
		<title>chainsLog</title>
	</head>
	<body>
		<h1><a href="/"> chainsLog </a></h1>
		<p>search bar</p>
		<a sec:authorize="isAnonymous()" href="/signin"> Sign In </a>
		<a sec:authorize="isAnonymous()" href="/signup"> Sign Up </a>	
		<form th:action="@{/signout}" method="post">
			<button sec:authorize="isAuthenticated()" class="heading-3" type="submit">Sign Out</button>
		</form>
		<h1><a sec:authorize="isAuthenticated()" th:href="@{'/forum/'+${username}+'/submit'}">Create a Post</a></h1>
		<div th:if="${param.error}">Error posting in Forum Board</div>
		<div th:each="post: ${post}">
			<h2 th:text="${post.title}">Post Title</h2>
			<p th:text="${post.content}"> Content </p>
			<p> <a th:href="@{'/post/'+${post.created_at}}"> Join </a> <p>		
		</div>
	</body>
</html>