<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="en">

	<head th:replace="fragments.html :: header">
	</head>
	<body style="padding-top:0rem">
	    <div class="whole-page">
	        <div class="signin-container">
	            <div class="vertical-logo">
		            <a th:href="@{/}">
		            	<img class="icon-logo" th:src="@{/img/icon-logo-vertical.png}">
		            </a>
	            </div>
	            <div class="signin-header">
	                <h2>Password Reset</h2>
	                <span class="body-1">Please enter your <b>new password</b>.</span>
	
	            </div>
	            <div class="signin-form reset">
	                <form th:action="@{'/reset/'+ ${hashedkey}}" method="post">
	                    <div class="form-fields">
	                        <input 
	                        	type="email" 
	                        	name="email" 
	                        	id="email"
	                        	class="textbox body-2" 
	                        	th:value="${email}" 
	                        	disabled>
	                        <input 
	                        	type="password" 
	                        	id="password" 
	                        	name="password"
	                        	class="textbox body-2" 
	                        	placeholder="Password"
	                        	required>
                        	<p class="body-2" th:if="${errorPassword}=='error'">
	                            Password must be at minimum of 8 characters, and must contain atleast one lowercase,
	                            uppercase, and digit
	                        </p>
	                        <input 
	                        	type="password"
	                        	id="confirmpassword" 
	                        	name="confirmpassword" 
	                        	class="textbox body-2" 
	                        	placeholder="Confirm New Password"
	                        	required>
	                        <p class="body-2" th:if="${errorConfirmPassword}=='error'">
	                            Password does not match
	                        </p>
	                    </div>
	                    <div class="form-buttons">
	                        <button class="action-button button-1">Update</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>		
	</body>
</html>