<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="en">
	  
	<head th:replace="fragments.html :: header">
	</head>
	<body style="padding-top:0rem">
	    <div class="whole-page">
	        <div class="signin-container">
	            <div class="vertical-logo">
		            <a th:href="@{/}">
		            	<img class="icon-logo" th:src="@{/img/icon-logo-vertical.png}">
		            </a>
	            </div>
	            <div class="signin-header">
	                <h1>Sign In</h1>
	                <span class="body-1">
	                	Welcome back! Login to access the latest trend and news in <b>blockchain</b>
	                </span>
	            </div>
	            <div class="signin-form">
	                <form th:action="@{/signin}" method="post" id="signin-form">
	                	<h3 th:if="${param.error}">Invalid login credentials</h3>
	                    <div class="form-fields">
	                        <input 
	                        	type="text" 
	                        	id="username" 
	                        	name="username"
	                        	class="textbox body-2" 
	                        	placeholder="Username"
	                        	required>
	                        <input 
	                        	type="password" 
	                        	id="password" 
	                        	name="password"
	                        	class="textbox body-2" 
	                        	placeholder="Password"
	                        	required>
	                    </div>
	                    <div class="form-additional-params">
	                        <div>
	                            <input 
	                            	type="checkbox"
	                            	id="remember-me" 
	                            	name="remember-me" 
	                            	class="checkbox"> 
	                            	<span class="body-2">
	                            		Remember me
                            		</span>
	                        </div>
	                        <span class="body-2">
	                        	<a th:href="@{/reset}">
	                        		Forgot your password?
                        		</a>
                       		</span>
	                    </div>
	                    <div class="form-buttons">
	                        <button 
	                        	th:form="signin-form"
	                        	id="signIn"
	                        	class="action-button button-1">
	                        		Sign In
	                        </button>
	                    </div>
	                </form>
	            </div>
	            <span class="body-2 redirect">
	            	Need an account? &nbsp
	            	<a th:href="@{/signup}">
	            		Create your chainsLog account.
            		</a>
           		</span>
	        </div>
	    </div>
	</body>
</html>