<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>chainsLog</title>

</head>
<body>
	<h1><a href="/"> chainsLog </a></h1>
	<form th:action="@{/signin}" method="post">
		<fieldset>
			<legend>Sign In:</legend>
			<p>Welcome back! Login to access the latest trend and news in <b> blockchain </b> </p>
			<div th:if="${param.error}">Invalid login credentials</div>
			<label for="username"> Username: </label> 
				<input type="text" id="username" name="username" placeholder="Username"> <br> 
			<label for="password"> Password: </label> 
				<input type="password" id="password" name="password" placeholder="Password"> <br>
			<input type="checkbox" id="remember-me" name="remember-me">
			<label for="remember-me"> Remember me</label>
			<button type="submit" id="signIn">Sign In</button>
			<p> Need an account? <a href="/signup"> Create your chainsLog account.</a></p>
		</fieldset>
	</form>

</body>
</html>